<launch>
 
  <node pkg="rviz" type="rviz" name="waypoint_nav_plugin"
    args="-d $(find waypoint_navigation_plugin)/launch/waypoint_nav_plugin.rviz">
  </node>

  <arg name="model" default="$(find waypoint_navigation_plugin)/model/BlueRov2.urdf.xacro"/>
  <!-- <arg name="rvizconfig" default="$(find waypoint_navigation_plugin)/model/model.rviz" /> -->
  
  <!-- <node name="rviz" pkg="rviz" type="rviz" required="true"  args="-d $(arg rvizconfig)"/> -->

  <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model)"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="10.0" />
  </node>

</launch>
